<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.uwm.mydiabitiestracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddActivity" />
        <activity android:name=".Insertion.FoodInsertActivity" />
        <activity android:name=".Insertion.GlucoseInsertActivity" />
        <activity android:name=".Insertion.ExerciseActivity" />
        <activity android:name=".Insertion.PrescriptionActivity" />
        <activity android:name=".Insertion.UserActivity" />
        <activity android:name=".ListMainRecords" />
        <activity android:name=".EditRecords.UpdateFoodRecords" />
        <activity android:name=".EditRecords.UpdateGlucoseRecords" />
        <activity android:name=".ViewGraphs" />
        <activity android:name=".EditRecords.UpdatePrescriptionRecords" />
        <activity android:name=".EditRecords.UpdateExerciseRecords" />
        <activity android:name=".Insertion.RegimenActivity" />
        <activity android:name=".VeiwRegimen" />
        <activity
            android:name=".RemainderActivity"
            android:label="@string/title_activity_remainder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FoodInsert"></activity>
    </application>

</manifest>